<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="fingers" params="prefix parent *origin">

    <joint name="${parent}_${prefix}_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}_finger_link" />
    </joint>

    <link name="${prefix}_finger_link">
      <visual>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://bbbot_description/meshes/visual/finger.stl" />
        </geometry>
        <material name="white"/>
      </visual>
      <!-- Need better collision model -->
      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 ${pi/2}"/>
        <geometry>
          <mesh filename="package://bbbot_description/meshes/collision/finger.stl" />
        </geometry>

        <!-- <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <mesh filename="package://bbbot_description/meshes/visual/finger.stl" />
        </geometry> -->
      </collision>
      <!-- <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.250"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial> -->
      <inertial>
        <origin xyz="0 0 0.05" rpy="0 0 0"/>
        <mass value="0.3" />
        <inertia ixx="0.0008125" ixy="0" ixz="0" iyy="0.001125" iyz="0" izz="0.001125" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
