<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="limited" default="false"/>

  <arg name="use_sim" default="false"/>

  <group if="$(arg use_sim)">
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!-- <arg name="world_name" value="$(find rrbot_gazebo)/worlds/rrbot.world"/> -->
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>
  </group>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	  command="$(find xacro)/xacro.py '$(find bbbot_description)/urdf/bbbot.xacro'" />

  <!-- Load the joint names to enable filtering of the transmissions -->
  <rosparam command="load" file="$(find bbbot_gazebo)/config/leftarm_joint_names.yaml" ns="leftarm" />
  <rosparam command="load" file="$(find bbbot_gazebo)/config/rightarm_joint_names.yaml" ns="rightarm" />


  <group if="$(arg use_sim)">
    <!-- <rosparam command="load" file="$(find bbbot_gazebo)/config/leftarm_gazebo_control.yaml" ns="leftarm" />
    <rosparam command="load" file="$(find bbbot_gazebo)/config/rightarm_gazebo_control.yaml" ns="rightarm" /> -->

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  	  args="-urdf -model bbbot -param robot_description"/>
  </group>

  <!-- ros_control rrbot launch file -->
  <!--include file="$(find rrbot_control)/launch/rrbot_control.launch" /-->

</launch>
